body {
    background:#ffd994;/*#ffc04d;*/
    color: black;/*#33260f;*/
    font-family: Helvetica, Arial, sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

.navigation{
  display: inline-block;
  list-style: none;
  line-height: 2;
  }

.navigation li{
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  font-size: 18px;
}

.navigation a{
  color: black;
}

.navigation a:hover{
  color: #d50000;
}

#national{
  display:inline;
  background-color: #d50000;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  text-align: right;
}

#national:hover{
  color: white;
}

.logo{
  display: inline-block;
  position:absolute;
  height: 50px;
  right: 50px;
  top: 0px;
  margin:0px;
}

.welcome, .redbanner{
  display:flex;
  justify-content: center;
  background: #d50000;
  color: white;
  width: 90%;
  text-align: center;
  position: relative;
  margin: 0px auto;
}

.welcome{
    min-height: 50px;
}

.welcome h2, .redbanner h3{
  margin-top: 10px;
  margin-bottom: 5px;
}

.redbanner{
  white-space: pre;
}

.redbanner a:hover{
  color: black;
}

.main, .dets{
  display: inline-block;
  padding: 10px 40px 10px 40px;
}

.dets a, .main a{
  color: black;
}

.dets a:hover, .main a:hover{
  color: #d50000;
}

.dets ul{
  list-style: none;
}

.mainsection, .details{
  width:90%;
  margin: 0px auto;
  text-align: center;
}

.main{
  width: 40%;
}

.details, .mainsection div{
  text-align: left;
  vertical-align: top;
  padding: 10px 30px 10px 30px;
}

.mainsection img{
  margin-top: 21px;
}

 .icons{
   height:25px;
 }

footer{
  text-align: right;
  font-size: 12px;
}

@media screen and (max-width:800px){
  .logo{
    display:none;
  }
}
